{% extends 'base.html' %}
{% block nav %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="/static/images/about-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              We Are <span>SM-PackersMovers</span>
            </h2>
          </div>
          <p>
            Discover seamless relocation with <strong>SM-PackersMovers</strong>. As experts in packing and moving, we ensure stress-free transitions, whether local or long-distance. Entrust your move to our dedicated team for precision, care, and a commitment to your peace of mind. Your journey begins and ends with us—redefining the way you move.
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
{% endblock %}