{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="description"
    content="Professional Packers and Movers service in Jalgaon, Maharashtra, India. We offer reliable and efficient relocation services for residential and commercial purposes. Get hassle-free moving solutions with SM-PackersMovers.">
  <meta name="keywords"
    content="SM-PackersMovers, SMPackersAndMovers, SMpackersandmovers, SMpackersmovers, smpackersandmovers, smpackersmovers, Packers and Movers, Packers and Movers in Bhusawal, Packers and Movers in Bhusaval, Packers and Movers in Jalgaon, Packers and Movers in Maharashtra, Jalgaon, Maharashtra, India, relocation services, packaging services, moving company, residential moving, commercial moving, specialty moving, packing and unpacking, local moving, long distance moving, storage solutions, office relocation, home relocation, home moving, movers in jalgaon, packers in jalgaon, movers in Bhusawal, packers in Bhusawal, movers in Bhusaval, packers in Bhusaval">
  <link rel="shortcut icon" href="/static/images/sm-favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
  <title>SM-PackersMovers</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- font awesome style -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  <link href="/static/css/home_page.css" rel="stylesheet" />

  {% if canonical_url %}
      <link rel="canonical" href="{{ canonical_url }}">
  {% endif %}
</head>

<body>
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="/static/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="header_top">
        <div class="container header_top_container">
          <div class="row">
            <div class="col-md-4">
              <div class="full">
                <div class="social_box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="full">
                <div class="contact_nav">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      SMpackersandmovers
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                      Smpackersandmovers767@gmail.com
                    </span>
                  </a>
                  <a href="" class="call-link">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      Call : +91 7249467298
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="full">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand " href="/"><img src="/static/images/sm-logo.png" alt="#"
                      style="height: 5rem;width: 18rem;" /></a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=""> </span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contact_us">Contact Us</a>
                      </li>
                      <form class="form-inline justify-content-center">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                      </form>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- price check form -->
    <div class="col-md-6 pcheckform"
      style="background-color: #dbebff69;padding: 10px;padding-inline: 2rem;margin-top: 2rem;margin-left: 3rem;margin-bottom: 2rem; border-radius: 5px;">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">WithIn-City</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Between-Cities</button>

        </div>
      </nav>
      <br>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <form class="row g-3" method="post" action="{% url 'within_city_booking' %}">
            {% csrf_token %}

            <div class="col-6 ">
              <label for="name" class="form-label" style="color: #0e3a69;
          font-weight: 800;">Full Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
            </div>

            <div class="col-md-6 pb-3">
              <label for="inputEmail4" class="form-label" style="color: #0e3a69;
          font-weight: 800;">Email</label>
              <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="example@gmail.com"
                required>
            </div>
            <div class="col-6 pb-3">
              <label for="inputAddress" class="form-label" style="color: #0e3a69;
          font-weight: 800;">Origin Address</label>
              <input type="text" class="form-control" id="inputAddress" name="origin_address" placeholder="1234 Main St"
                required>
            </div>
            <div class="col-6 pb-3">
              <label for="inputAddress2" class="form-label" style="color: #0e3a69;
          font-weight: 800;">Destination Address</label>
              <input type="text" class="form-control" id="inputAddress2" name="destination_address"
                placeholder="Apartment, studio, or floor" required>
            </div>
            <div class="col-md-12 pb-3">
              <label for="services" class="form-label" style="color: #0e3a69; font-weight: 800;">Select Services</label>
              <select class="form-select form-control" aria-label="Default select example" id="services"
                name="selected_service">
                <option selected>Select Service</option>
                {% for service in services %}
                <option value="{{ service.name|title }}">{{ service.name|title }}</option>
                {% endfor %}

              </select>
            </div>
            <div class="col-md-4 pb-3">
              <label for="inputCity" class="form-label" style="color: #0e3a69;
          font-weight: 800;">City</label>
              <input type="text" class="form-control" id="inputCity" name="location_city" placeholder="Pune, MH, IN"
                required>
            </div>
            <div class="col-md-4 pb-3">
              <label for="inputPassword4" class="form-label" style="color: #0e3a69;
          font-weight: 800;">Phone Number</label>
              <input type="tel" class="form-control" id="phone" name="phone" placeholder="1234567890" required>
            </div>

            <div class="col-md-4 pb-3">
              <label for="date" class="form-label" style="color: #0e3a69;
          font-weight: 800;">Date</label>
              <input type="datetime-local" class="form-control" id="date" name="date" placeholder="2023-12-18" required>
            </div>
            <div class="col-12 pb-2" style="text-align: center;">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck" style="color: #0e3a69; font-weight: 800;">
                  Check me out
                </label>
              </div>
            </div>
            <div class="col-12" style="text-align: center;">
              <button type="submit" class="btn " style="width: 100%; color: #fff;
                background-color: #0e3a69;
                border-color: #ffffff;
                font-weight: 600;
            ">Get Inquiry</button>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <form class="row g-3" method="post" action="{% url 'between_cities_booking' %}">
            {% csrf_token %}
            <div class="col-6 ">
              <label for="name" class="form-label" style="color: #0e3a69;
      font-weight: 800;">Full Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
            </div>

            <div class="col-md-6 pb-3">
              <label for="inputEmail4" class="form-label" style="color: #0e3a69;
      font-weight: 800;">Email</label>
              <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="example@gmail.com"
                required>
            </div>
            <div class="col-6 pb-3">
              <label for="inputAddress" class="form-label" style="color: #0e3a69;
      font-weight: 800;">Origin City Address</label>
              <input type="text" class="form-control" id="inputAddress" name="origin_address_city"
                placeholder="1234 Main St" required>
            </div>
            <div class="col-6 pb-3">
              <label for="inputAddress2" class="form-label" style="color: #0e3a69;
      font-weight: 800;">Destination City Address</label>
              <input type="text" class="form-control" id="inputAddress2" name="destination_address_city"
                placeholder="Apartment, studio, or floor" required>
            </div>
            <div class="col-md-12 pb-3">
              <label for="services" class="form-label" style="color: #0e3a69; font-weight: 800;">Select Services</label>
              <select class="form-select form-control" aria-label="Default select example" id="services"
                name="selected_service">
                <option selected>Select Service</option>
                {% for service in services %}
                <option value="{{ service.name|title }}">{{ service.name|title }}</option>
                {% endfor %}

              </select>
            </div>
            <div class="col-md-6 pb-3">
              <label for="inputPassword4" class="form-label" style="color: #0e3a69;
      font-weight: 800;">Phone Number</label>
              <input type="tel" class="form-control" id="phone" name="phone" placeholder="1234567890" required>
            </div>

            <div class="col-md-6 pb-3">
              <label for="date" class="form-label" style="color: #0e3a69;
      font-weight: 800;">Date</label>
              <input type="datetime-local" class="form-control" id="date" name="date" placeholder="2023-12-18" required>
            </div>
            <div class="col-12 pb-2" style="text-align: center;">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" value="Inquiry" required>
                <label class="form-check-label" for="gridCheck" style="color: #0e3a69; font-weight: 800;">
                  Check me out
                </label>
              </div>
            </div>
            <div class="col-12 getinquirybtn" style="text-align: center;">
              <button type="submit" class="btn " style="width: 100%; color: #fff;
                background-color: #0e3a69;
                border-color: #ffffff;
                font-weight: 600;
            ">Get Inquiry</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    <!-- price check form end  -->

  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are <span>SM-PackersMovers</span>
              </h2>
            </div>
            <p>
              Discover seamless relocation with <strong>SM-PackersMovers</strong>. As experts in packing and moving, we
              ensure stress-free transitions, whether local or long-distance. Entrust your move to our dedicated team
              for precision, care, and a commitment to your peace of mind. Your journey begins and ends with
              us—redefining the way you move.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- service section -->

  <section class="service_section layout_padding-bottom">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>Experience excellence with <strong>SM-PackersMovers</strong>. Our comprehensive services redefine moving,
            ensuring seamless transitions and personalized care.</p>
        </div>
        <div class="row">
          {% for service in services|slice:":3" %}
          <div class="col-sm-6 col-lg-4 mx-auto ">

            <div class="box ">
              <div class="img-box">
                <img src="/static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <div class="service-details">
                  <h5>
                    {{ service.name|title }}
                  </h5>
                  <p>
                    {{ service.description|capfirst }}
                  </p>

                  <a href="">
                    Read More
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </a>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="btn-box">
          <a href="">
            View More
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- call section -->

  <section class="call_section ">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/images/call-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h5>
              Call Us Today
            </h5>
            <h3>
              +91 7249467298
            </h3>
            <p>
              Contact us now for expert guidance and personalized solutions. Our team at SM-PackersMovers is ready to
              assist you. Make your move stress-free call us today!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end call section -->

  <!-- faq section -->

  <section class="faq_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Frequently Asked <span>Questions</span>
              </h2>
            </div>
            <p>
              Explore answers to common queries in our Frequently Asked Questions section. Find valuable insights and
              solutions to streamline your experience with SM-PackersMovers. Your journey to a smoother move starts
              here.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="faq_container">
            <div class="accordion" id="faqAccordion">
              <div class="card">
                <div class="card-header" id="faqItem1Header">
                  <h5 class="mb-0">
                    <button class="  collapsed" type="button" data-toggle="collapse" data-target="#faqItem1"
                      aria-expanded="false" aria-controls="faqItem1">
                      Q: How do I get a quote for my move?
                    </button>
                  </h5>
                </div>
                <div id="faqItem1" class="collapse" aria-labelledby="faqItem1Header" data-parent="#faqAccordion">
                  <div class="card-body">
                    <p>
                      A: Simply reach out to us through our contact page or give us a call. We'll gather some details
                      and provide you with a customized quote tailored to your specific moving needs.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqItem2Header">
                  <h5 class="mb-0">
                    <button class=" " type="button" data-toggle="collapse" data-target="#faqItem2" aria-expanded="false"
                      aria-controls="faqItem2">
                      Q: Do you offer packing services?
                    </button>
                  </h5>
                </div>
                <div id="faqItem2" class="collapse " aria-labelledby="faqItem2Header" data-parent="#faqAccordion">
                  <div class="card-body">
                    <p>
                      A: Absolutely! SM-PackersMovers provides professional packing and unpacking services to ensure the
                      safety and security of your belongings during the move.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqItem3Header">
                  <h5 class="mb-0">
                    <button class="  collapsed" type="button" data-toggle="collapse" data-target="#faqItem3"
                      aria-expanded="false" aria-controls="faqItem3">
                      Q: What sets SM-PackersMovers apart?
                    </button>
                  </h5>
                </div>
                <div id="faqItem3" class="collapse" aria-labelledby="faqItem3Header" data-parent="#faqAccordion">
                  <div class="card-body">
                    <p>
                      A: We stand out for our commitment to excellence, personalized care, and seamless transitions. Our
                      experienced team ensures your move is not just a relocation but a stress-free experience.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="faqItem3Header">
                  <h5 class="mb-0">
                    <button class="  collapsed" type="button" data-toggle="collapse" data-target="#faqItem4"
                      aria-expanded="false" aria-controls="faqItem4">
                      Q: How do you ensure the safety of my items during transit?
                    </button>
                  </h5>
                </div>
                <div id="faqItem4" class="collapse" aria-labelledby="faqItem3Header" data-parent="#faqAccordion">
                  <div class="card-body">
                    <p>
                      A: Rest easy knowing your belongings are safeguarded. We implement a range of protective measures
                      to minimize risks, guaranteeing a secure and smooth relocation experience for you.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end faq section -->

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-lg-9 mx-auto">
          <div class="map_form_container">
            <div class="form_container">
              <div class="heading_container heading_center">
                <h2 class="contact_heading">
                  Contact <span>Us</span>
                </h2>
              </div>
              <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <input type="text" class="form-control" name="name" placeholder="Enter your Full Name" required />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Email" required />
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="phonenumber" placeholder="Phone Number" required />
                  </div>
                </div>
                <div class="form-group ">
                  <textarea class="message-box" name="message" placeholder="Message" required></textarea>
                </div>
                <div class="btn-box">
                  <button type="submit" class="submit_btn">Send</button>
                  <button id="showMap" class="map_btn">Map</button>
                </div>
              </form>
            </div>
            <div class="map_container">
              <div class="map">
                <div id="googleMap"></div>
              </div>
              <div class="btn-box">
                <button id="showForm" class="map_btn">
                  Form
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <a href="/index" class="footer-brand">
        <img src="/static/images/sm-logo.png" alt="#" style="height: 5rem;width: 18rem;" />
      </a>
      <div class="col-lg-10 mx-auto px-0">
        <div class="footer_items">
          <div class="row">
            <div class="col-md-4">
              <a href="">
                <div class="item ">
                  <div class="img-box ">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <p>
                    SMpackersandmovers
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="">
                <div class="item ">
                  <div class="img-box ">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <p>
                    +91 7249467298
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="">
                <div class="item ">
                  <div class="img-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <p>
                    Smpackersandmovers767@gmail.com
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="social-box">
        <h4>
          Follow Us
        </h4>
        <div class="box">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-10 mx-auto px-0">
        <div class="footer_form">
          <h4>
            NEWSLETTER
          </h4>
          <form action="">
            <input type="text" placeholder="Enter Your Email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved |
          <a href="#">SM-packersandmovers</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="/static/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- custom js -->
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/home_page.js"></script>
  <!-- Google Map -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->
</body>

</html>