{% extends 'Admin_App/base.html' %}

{% block content %}
<!-- Export Datatable start -->
<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Between Cities Bookings</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
								<li class="breadcrumb-item active" aria-current="page">Between Cities Bookings</li>
						</nav>
					</div>

				</div>
			</div>
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">Export Data</h4>
				</div>
				<div class="pb-20">
					<table class="table hover multiple-select-row data-table-export nowrap">
						<thead>
							<tr>
								<th>Name</th>
								<th>Contact Number</th>
								<th>Email</th>
								<th>Date of Inquiry</th>
								<th>Inquiry</th>
							</tr>
						</thead>
						<tbody>
							{% for booking in bookings %}
							<tr data-toggle="modal" data-target="#bd-example-modal-lg"
								data-href="{% url 'Admin_App:get_booking' %}?specific_booking_id={{ booking.id }}">

								<td>{{ booking.name }}</td>
								<td>{{ booking.phone }}</td>
								<td>{{ booking.email }}</td>
								<td>{{ booking.dateofinquiry }}</td>
								<td
									style="color: {% if booking.status.lower == 'pending' %}red{% elif booking.status.lower == 'done' %}green{% else %}grey{% endif %};">
									{{ booking.status }}</td>


							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Export Datatable End -->
{% endblock %}

{% block javascript %}

<script src="/static/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="/static/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<!-- buttons for Export datatable -->
<script src="/static/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/static/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="/static/src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="/static/src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="/static/src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="/static/src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="/static/src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Datatable Setting js -->
<script src="/static/vendors/scripts/datatable-setting.js"></script>


{% endblock %}